body{
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
    color: black;
}

.header{
    background-color: lightslategray;
    padding: 5px;
    text-align: center;
}

.t_box{
    text-align: center;
}

.t_box p{
    border-top: solid 1px;
    padding-top: 15px;
}

.container{
    display: flex;
}

.box_1{
    width: 50%;
    margin-left: 50px;
}

.box_2{
    width: 50%;
    margin-right: 50px;
}